<form class="auth-form">
  <div class="input-fullwidth">
    <span>
      <i class="material-icons app-input-icon">person</i>
      &nbsp;
    </span>
    <input placeholder="Username" value="">
  </div>
  <div class="input-fullwidth">
    <span>
      <i class="material-icons app-input-icon">lock_open</i>
      &nbsp;
    </span>
    <input type="password" placeholder="Password" value="">
  </div>
  <div align="end" class="input-fullwidth">
    <button color="accent">Sign in</button>
  </div>
</form>
