<form class="auth-form">
  <div class="input-fullwidth">
    <input mdInput placeholder="Username" value="">
  </div>
  <div class="input-fullwidth">
    <input mdInput type="password" placeholder="Password" value="">
  </div>
  <div class="input-fullwidth">
    <input mdInput type="password" placeholder="Confirm password" value="">
  </div>
  <div class="input-fullwidth">
    <input mdInput placeholder="Full name" value="">
  </div>
  <div class="input-fullwidth">
    <input mdInput placeholder="email" value="">
  </div>
  <div align="end" class="input-fullwidth">
    <button md-raised-button color="accent">Create account</button>
  </div>
</form>
